  <footer>
    <nav class="footer-nav">
      <a class="nav-item {% if activePage == 'home' %}active{% endif %}" href="/">
        <img src="/assets/snappthis%20logo.svg" alt="Home" width="24" height="24">
      </a>
      <a class="nav-item {% if activePage == 'groepen' %}active{% endif %}" href="/groepen">
        <img src="/assets/GroupST.svg" alt="Groepen" width="24" height="24">
      </a>
      <a class="nav-item {% if activePage == 'profiel' %}active{% endif %}" href="#profiel">
        <img src="/assets/User.svg" alt="Profiel" width="24" height="24">
      </a>
    </nav>
  </footer>

</body>
</html>
